:root {
    --cell-size: 2.3rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    line-height: 1.5;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;

    display: flex;
    flex-direction: column;
    gap: 3rem;
}

input, button, textarea, select {
  font: inherit;
}

/* Header Section */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    padding: 1.5rem;
}

.display {
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    width: 40%;
    background-color: #f0f0f0;
    text-align: center;
    font-size: 1.1rem;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.instructions {
    height: 1.8rem;
    width: 1.8rem;
    border-radius: 50%;
    border: 1px solid black;

    cursor: pointer;

    &:hover {
        background-color: lightskyblue;
    }
}

/* Main Section */
main {
    display: flex;
    column-gap: 6rem;
    row-gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}

.gameboard-wrapper {
    display: grid;
}

.board-container{
    grid-column: 2;
    grid-row: 2;

    display: grid;

    border: 1px solid black;
}

.board-cell {
    border: 1px solid black;
    cursor: pointer;
    
    &:hover {
        background-color: lightcoral;
    }
}

.label-cell,
.board-cell {
    display: flex;
    justify-content: center;
    align-items: center;

    height: var(--cell-size);
    width: var(--cell-size);
}

.board-title {
    text-align: center;
    margin-left: var(--cell-size);
    font-weight: bold;
    text-decoration: underline;
}

/* for cell hits */
.miss {

}

.hit{ 

}
